@use postcss-color-function;
@use postcss-nested;
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");

/* Base styling */

@import 'https://fonts.googleapis.com/css?family=Josefin+Slab';
body {
    font-family: "Josefin Slab";
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.search__container {
    width: 100%;
    background-color: #f7cac9;
    padding-top: 64px;
    text-align: center;
    height: 40%;
}

.search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
}

.search {
    border: 0;
    background: transparent;
    width: 10%;
    height: 50%;
    padding: 10px;
    padding-left: 0%;
    padding-right: 0%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 30px 50px;
    background-position: 30% center;
    border-radius: 50px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search:focus {
    border: none;
    outline: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 30px 50px;
    background-position: 30% center;
    border-radius: 50px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input {
    width: 30%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    text-align: center;
    /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");*/
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    width: 30%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    text-align: center;
    outline: none;
    border: none;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.credits__container {
    margin-top: 24px;
}

.credits__text {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
}

.credits__link {
    color: #ff8b88;
    text-decoration: none;
    transition: color 250ms ease-in;
}

.credits__link:hover,
.credits__link:focus {
    color: color(#ff8b88 blackness(25%));
}


/* table */

table {
    width: 100%;
    text-align: center;
}

.info_container p {
    padding-top: 14px;
    padding-left: 24px;
}

body .btns {
    align-items: center;
}

body .btns input,
body .btns select {
    width: 50%;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btns i {
    color: #4a3b76;
}

.btns input,
.btns select {
    margin: 3px 0;
    height: 30px;
    width: 40%;
    color: #cfc9e1;
    background-color: #4a3b76;
    text-transform: uppercase;
    border: 0;
    border-radius: 0.3rem;
    letter-spacing: 2px;
}

.btns input:hover,
.btns select:hover {
    animation-name: btn-hov;
    animation-duration: 550ms;
    animation-fill-mode: forwards;
}