<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Index</title>
</head>

<body>

    <div class="about">
        <p><a style="display:inline-block;" href="https://github.com/mgltorsa/ICESI-Attention" target="_blank">By: Miguel Torres </a></p>
    </div>
    <h1 th:text="${'Welcome '+userName}"> </h1>
    <div class="wrapper">

        <div class="content">


            <!-- card -->
            <a th:href="@{/add-inventory}" class="card">

                <div class="icon">
                    <i class="material-icons md-36">add_shopping_cart</i>
                </div>
                </input>
                <p class="title">Inventory</p>
                <p class="text">Click to add inventory to Medicine</p>

            </a>

            <!-- card -->
            <a th:href="@{/inventories}" class="card">

                <div class="icon">
                    <i class="material-icons md-36">local_hospital</i>
                </div>
                </input>
                <p class="title">Inventories</p>
                <p class="text">Click to view all inventories.</p>
            </a>
           
            <!-- end card -->
            <form th:action="@{/logout}" method="POST" class="card">
                <div class="icon"><i class="material-icons md-36">error</i></div>
                <p class="title">Log out</p>
                <p class="text">Click to finish the current session</p>
            </form>



        </div>
    </div>


    <script src="index.js"></script>




</body>

</html>